body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

a{
  color: #000;
  text-decoration: none;
}

.pagetop{
  position:fixed;
  right:10px;
  bottom:10px;
  width:40px;
  height:40px;
  background:#eee;
  color:#000;
  font-size:24px;
  font-weight:bold;
  cursor:pointer;
}

#menu{
  z-index: 100;
  position: fixed;
  top: 0;
  right: -100%;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 0 0 0;
  box-sizing: border-box;
  width: 120px;
  height:390px;
  transition: 0.5s;
}

#menu ul{
  padding-left: 0;
  padding-right: 0;
}

#menu li{
  font-size: 16px;
  margin: 0;
  padding: 18px;
  text-align: left;
}

.border{
  border-bottom: 0.5px solid #aaa;
}

header{
  font-size: 28px;
  background: rgba(0,0,0,0.5);
  color: rgb(196, 196, 196);
  width: 100vw;
  position: fixed;
  z-index: 99;
}

.logo{
  text-align: left;
  margin-top: 2px;
  margin-left: 10px;
}

i{
  margin-right: 2px;
}

@import url('https://fonts.googleapis.com/css?family=Sacramento');

*{
  font-family: 'Sacramento', cursive;
}

.sm{
  z-index: 99;
  position: fixed;
  top: 8px;
  right: 20px;
}

#cover{
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#show,#hide{
  float: right;
  cursor: pointer;
}

#hide{
  margin-top: -10px;
  margin-right: 10px;
  font-size: 32px;
  font-weight: initial;
}

small{
  font-size: 28px;
  margin-right: 4px;
}

.menu_open #cover{
  display: block;
}

.menu_open #menu{
  right: 0;
}

main{
  background: url("../img/IMG_0337\ \(2\).JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 690px;
}

main h1{
  margin:0;
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 48px;
  text-shadow: 3px -3px 3px #fff;
}

.down{
  position: relative;
  top: 580px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0,0,0,0.8);
  font-size: 56px;
  font-weight: initial;
  cursor: pointer;
}

.figure{
  background: rgba(255, 255, 255,0.9);
  width: 30px;
  height: 30px;
  transform: rotate(60deg);
  margin-top: 0;
  margin-left: 130px;
  padding: 0;
}

#about{
  background: url("../img/IMG_0458.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -60px;
  background-position-y: 0;
  height: 690px;
}

.about{
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 690px;
}

#about .disc{
  margin-top: -20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px 20px;
  text-align: left;
  background: rgba(255, 255, 255,0.9);
  color: #000;
  border-radius: 10px;
}

#about .disc p{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.pic img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px auto;
}

h1{
  color: #000;
  margin: 0;
  padding-top:30px;
  font-size: 36px;
}

#skill{
  background: url("../img/IMG_0114.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
  height:580px;
}

.skill{
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 580px;
}

#skill li i{
  font-size: 64px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 60px;
}

.grid li{
  margin-bottom: 40px;
  border: 2px solid rgb(80,80,80);
  border-radius: 10px;
  width: 80%;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 180, 0.8);
}

.grid li p{
  margin: 0;
  font-size: 18px;
}

.php{
  position: relative;
  left: 50%;
}
  
#works{
  background: url("../img/IMG_0091.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-position-y: 0;
  height: 560px;
}

.works{
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 560px;
}

.works section a{
  width: 200px;
  height: 400px;
}

#service{
  background: url("../img/IMG_0278.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -60px;
  background-position-y: 0;
  height: 720px;
}

.service{
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  height: 720px;
}


.service section{
  margin: 30px 30px;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 2px solid rgb(133, 177, 133);
}

.service section p{
  text-align: left;
  line-height: 1.7em;
  letter-spacing: 0.04em;
}

#contact{
  /* background: url("../img/IMG_0278.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -280px;
  background-position-y: 0; */
  background-size: 30px 30px;
  margin: 0 auto;
  background-color: #00A0E9;
  background-image: radial-gradient(#ffe4b1 15%, transparent 20%),radial-gradient(#ffe4b1 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  height: 690px;
}

form{
  padding:30px 50px;
  display:flex;
  flex-direction:column;
}

form p{
  font-weight:bold;
}

#sei,#mei,#mail{
  width:100%;
  height:40px;
  margin-bottom:16px;
  border-radius:10px;
  border:initial;
  padding-left:10px;
  font-size:15px;
}

#note{
  border-radius:10px;
  border:initial;
  padding-top:10px;
  padding-left:10px;
  font-size:15px;
  width:100%;
}

#send{
  margin:15px;
  background:rgb(206, 75, 75);
  color:#fff;
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.1em;
  line-height:24px;
  padding-top:3px;
  padding-bottom:3px;
  border-radius:100px;
  border:initial;
  cursor:pointer;
}

#send:hover{
  opacity: 0.8;
}

.flex{
  display:flex;
}

footer{
  background:#eee;
  padding:20px 20px 0 30px;
}

footer p{
  font-size:12px;
  margin: 10px 0 0 0;
}

.btn{
  background:rgb(0, 100, 230);
  width:80px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  border-radius:4px;
  margin: 0 auto;
  padding:2px 4px;
  cursor:pointer;
}

.btn:hover{
  opacity:0.8;
}

.twitter{
  background:rgb(0, 157, 230);
  margin-right:5px;

}

.good{
  margin-left:0;
  margin-right:5px;
}

.share{
  width:50px;
  margin-left:0;
  padding-top:4px;
  font-size:12px;
}

big{
  margin-left:4px;
  font-size:12px;
  font-weight:bold;
}
